button {
    background-color: #0000FF;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
     border-radius: 10px;
     opacity: 0.6;
     
  }
  .container {
    padding: 16px;
  }
  button:hover {
    opacity: 0.3;
  }
  
  
  .container{
    border-radius: 10px;
    width: 40%;
    margin-left: 30%;
    margin-top:8% ;
  
  
  }
  #ca {
   background-color: #ff00ff;
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    width: 120px;
    margin-top: 16px;
     border-radius: 10px;
      opacity: 0.6;
  
  
  }
  #ca:hover {
  
      opacity: 0.3;
  }
  #fp {
    background-color: #0000FF;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
     border-radius: 10px;
      opacity: 0.6;
  }
  
  a{
   float: middle;
  }
  
  body {
    background-color: rgb(226, 173, 230);
  }
  
  #page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem; 
  }